In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from splinter import Browser
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import pandas as pd
import time
from webdriver_manager.chrome import ChromeDriverManager

# NASA Mars News

In [2]:
# Executable path to driver
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)
time.sleep(1)

# URL to scrap data from
url="https://redplanetscience.com/"
browser.visit(url)

# Create a HTML object 
html_page = browser.html

# Parsing the html_page with BeautifulSoup 
soup_page = bs(html_page, 'html.parser')

# Grab and display the latest News Title and Paragraph Text
NASA_soups = soup_page.find_all('div', id='news')
for NASA_soup in NASA_soups:

    news_title = soup_page.find("div",class_="content_title").get_text()
    news_p = soup_page.find("div",class_="article_teaser_body").get_text()
    print(f'news_title="{news_title}"')
    print(f'news_p="{news_p}"')

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/rodneydavermann/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

news_title="Two Rovers to Roll on Mars Again: Curiosity and Mars 2020"
news_p="They look like twins. But under the hood, the rover currently exploring the Red Planet and the one launching there this summer have distinct science tools and roles to play."

#  JPL Mars Space Images - Featured Image

In [3]:
# Executable path to driver
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)
time.sleep(2)

# URL to scrap image from
url="https://spaceimages-mars.com"
browser.visit(url)

# Create a .jpg image  
Image_page = browser.html

# Parsing the Image_page with BeautifulSoup 
soup_image = bs(Image_page, 'html.parser')

# Find the image url and assign the url string to a variable called featured_image_url
NASA_images = soup_image.find_all('div', class_='floating_text_area')

for NASA_image in NASA_images:
    
    #get the anchor tag 'a'
    NASA_image_link = NASA_image.find('a')
    
    #get the reference 'href'
    NASA_image_url = NASA_image_link["href"]
    
    print(f"featured_image_url='https://spaceimages-mars.com/{NASA_image_url}'")

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/rodneydavermann/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

featured_image_url='https://spaceimages-mars.com/image/featured/mars1.jpg'

#  Mars Facts

In [4]:
# URL to scrap table from
url_table = "https://galaxyfacts-mars.com"

# Read the 
NASA_tables = pd.read_html(url_table)
NASA_tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
# Subset NASA_tables and assign the first element as first table
NASA_table_df = NASA_tables[0]
NASA_table_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [6]:
# Rename the columns of NASA_table_df
NASA_table_df1 = NASA_table_df.rename(columns = {"0": "Indicators", "1": "Planet 1", "2":"Planet 2"},inplace = TRUE)
NASA_table_df1

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C