In [33]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from splinter import Browser
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import pandas as pd
import time
from webdriver_manager.chrome import ChromeDriverManager

# NASA Mars News

In [34]:
# Executable path to driver
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)
time.sleep(1)

# URL to scrap data from
url="https://redplanetscience.com/"
browser.visit(url)

# Create a HTML object 
html_page = browser.html

# Parsing the html_page with BeautifulSoup 
soup_page = bs(html_page, 'html.parser')

# Grab and display the latest News Title and Paragraph Text
NASA_soups = soup_page.find_all('div', id='news')
for NASA_soup in NASA_soups:

    news_title = soup_page.find("div",class_="content_title").get_text()
    news_p = soup_page.find("div",class_="article_teaser_body").get_text()
    print(f'news_title="{news_title}"')
    print(f'news_p="{news_p}"')

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_mac64.zip
Driver has been saved in cache [/Users/rodneydavermann/.wdm/drivers/chromedriver/mac64/91.0.4472.101]

news_title="A New Video Captures the Science of NASA's Perseverance Mars Rover"
news_p="With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions."

#  JPL Mars Space Images - Featured Image

In [3]:
# Executable path to driver
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)
time.sleep(2)

# URL to scrap image from
url="https://spaceimages-mars.com"
browser.visit(url)

# Create a .jpg image  
Image_page = browser.html

# Parsing the Image_page with BeautifulSoup 
soup_image = bs(Image_page, 'html.parser')

# Find the image url and assign the url string to a variable called featured_image_url
NASA_images = soup_image.find_all('div', class_='floating_text_area')

for NASA_image in NASA_images:
    
    #get the anchor tag 'a'
    NASA_image_link = NASA_image.find('a')
    
    #get the reference 'href'
    NASA_image_url = NASA_image_link["href"]
    
    print(f"featured_image_url='https://spaceimages-mars.com/{NASA_image_url}'")

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/rodneydavermann/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

featured_image_url='https://spaceimages-mars.com/image/featured/mars1.jpg'

#  Mars Facts

In [4]:
# URL to scrap table from
url_table = "https://galaxyfacts-mars.com"

# Read the 
NASA_tables = pd.read_html(url_table)
NASA_tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
# Subset NASA_tables and assign the first element as first table
NASA_table_df = NASA_tables[0]
NASA_table_df

# Rename the table's columns and set index

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [23]:
# Subset NASA_tables and assign the second element as second table
NASA_table_df1 = NASA_tables[1]
NASA_table_df1

# Rename the table's columns and set index
NASA_table_df1 = NASA_table_df1.rename(columns={0:"Indicators",1:"Value"},errors="raise")
NASA_table_df1.set_index("Indicators",inplace=True)
NASA_table_df1

                                              Value
Indicators
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [25]:
# Convert tables as html object
html_table = NASA_table_df.to_html()
html_table1 = NASA_table_df1.to_html()

In [26]:
# Display html_table
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [28]:
# Cleansing of html_table
html_table = html_table.replace("\n", "")
html_table

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>      <th>2</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Mars - Earth Comparison</td>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>

In [29]:
# Display html_table1
html_table1

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Indicators</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [32]:
# Cleansing of html_table
html_table1 = html_table1.replace("\n", "")
html_table1

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Indicators</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [21]:
# Executable path to driver
executable_path={"executable_path":ChromeDriverManager().install()}
browser=Browser("chrome",**executable_path,headless=False)
time.sleep(3)

# URL to scrap  
mars_hemispheres_url = "https://marshemispheres.com/"
browser.visit(mars_hemispheres_url)

# Parsing the web page with BeautifulSoup 
mars_hemispheres_html = browser.html
mars_hemispheres_soup = bs(mars_hemispheres_html, "html.parser")

#get item
mars_hemispheres_images = mars_hemispheres_soup.find_all("div", class_= "item")

#create empty list and dictionary
mars_hemisphere_image_urls = []
mars_hemisphere_dic = {}

for mars_hemispheres_image in mars_hemispheres_images:
    
    #get img tag
    image_tag = mars_hemispheres_image.find("img")
    
    #get img alt
    image_alt = image_tag["alt"]
    
    #split img alt and remove the last two
    mars_image = image_alt.split(" ")[0:-2]
    
    #rejoin the splitted img alt
    mars_image1 =" ".join(mars_image)
    
    #get img src
    mars_image_url =  image_tag["src"]
    
    #get whole url
    mars_image_url1 = mars_hemispheres_url + mars_image_url
    
    #set up mars_hemisphere_dic
    mars_hemisphere_dic = {"title":mars_image1,"img_url":mars_image_url1}
    
    #append the mars_hemisphere_dic to list of hemisphere_image_urls
    mars_hemisphere_image_urls.append(mars_hemisphere_dic)
    
print(mars_hemisphere_image_urls)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/rodneydavermann/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

[{'title': 'Cerberus Hemisphere', 'img_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]

In [22]:
# Close browser
browser.quit()